<div class="container animated fadeIn fast">
    <div class="page-header title-margins">
        <h1>Acerca de NaturalGrown.org</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-6 row-text">
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore maiores necessitatibus cum. Eaque repellendus nostrum, ad voluptates vel optio nesciunt odit blanditiis ipsum, labore provident architecto aliquid doloribus exercitationem sit? Lorem ipsum,
                dolor sit amet consectetur adipisicing elit. Fugit amet dolor doloribus non ipsa, quam asperiores et laborum quod quas optio doloremque, nulla accusantium aliquam repellendus quibusdam laudantium nam impedit. Lorem ipsum dolor, sit amet
                consectetur
            </p>
            <br>
            <p class="lead"><small>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum aperiam ut explicabo obcaecati quidem culpa unde, nisi vel adipisci, reiciendis cum ullam animi? Quo nostrum neque enim ad nesciunt vel.
        </small></p>
            <p class="lead"><small>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum aperiam ut explicabo obcaecati quidem culpa unde, nisi vel adipisci, reiciendis cum ullam animi? Quo nostrum neque enim ad nesciunt vel.
        </small></p>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" alt="orchard" src="../../../assets/orchard.png">
            <br><br>
            <strong>NaturalGrown.com</strong>
            <p class="lead"><small>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus accusamus possimus aperiam quibusdam optio fugiat officia odit ipsam voluptates rem et id est enim delectus veniam, cum totam iure soluta!
            </small>
            </p>
        </div>
    </div>

    <hr class="gray-gradient">

    <div class="row margin-row">
        <div class="col-sm-12 col-md-6">
            <h3><a href="#">Ing. Arturo Nevarez Villa</a></h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt molestias deserunt tenetur maxime natus quo sint distinctio corporis, nihil sunt molestiae ex repellendus dolorem! Vitae placeat obcaecati deleniti voluptatibus cumque.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta culpa nam officia totam veniam facilis omnis possimus labore eligendi assumenda distinctio atque fuga, eveniet consequuntur delectus, minima voluptatibus, repudiandae corrupti.
            </p>
        </div>

        <div class="col-sm-12 col-md-6">
            <h3><a href="#">Universidad Autónoma de Baja California</a></h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt molestias deserunt tenetur maxime natus quo sint distinctio corporis, nihil sunt molestiae ex repellendus dolorem! Vitae placeat obcaecati deleniti voluptatibus cumque.
            </p>
        </div>
    </div>

</div>
<hr class="gray-gradient">