<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-7">
                <h1 class="display-8 shadow-title">¿Cuál es la mejor forma de alimentarnos?</h1>
                <p class="lead shadow-title"><b>Encuentra cientos de huertos orgánicos cerca de ti y empieza hoy a alimentarte de la mejor manera.
                    </b></p>
                <br/>
                <p class="lead shadow-title"><b>Registrate y encuentra frutas y verduras orgánicas a muy buen precio, o si lo prefieres, empieza a vender ahora mismo y gana dinero sin mover un sólo pie de tu hogar.
                    </b></p>
                <p>
                    <button class="btn btn-lg btn-primary separation">Saber más</button>
                    <button class="btn btn-lg btn-light">Busca un huerto</button>
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-5">
                <img class="img-fluid" alt="Responsive image" src="../../../assets/doctor.png">
            </div>
        </div>
    </div>
</div>