<div class="container animated fadeIn fast">
    <h3>Mi perfil <small>personal</small></h3>
    <hr>
    <div style="margin-top: 10px;" class="row" *ngIf="profile">
        <div class="col-md-4">
            <img class="img-fluid img-thumbnail" [src]="profile.photo">
        </div>

        <div class="col-md-8">
            <p class="font-weight-bold">Información personal</p>
            <ul class="list-group">
                <li class="list-group-item"><b>Nombre: </b> {{ profile.name }} </li>
                <li class="list-group-item"><b>Correo: </b>{{ profile.email }} </li>
                <li *ngIf="profile.phone" class="list-group-item"><b>Teléfono: </b>{{ profile.phone }} </li>
                <li class="list-group-item"><b>Clave única de usuario: </b>{{ profile.uid }} </li>

            </ul>
        </div>
    </div>

    <br>

    <div class="container">
        <p class="font-weight-bold">Datos demográficos</p>
        <form #forma="ngForm" novalidate="">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="street">Calle</label>
                        <input id="street" type="text" class="form-control" placeholder="Calle">
                    </div>
                    <div class="form-group">
                        <label for="suburb">Colonia</label>
                        <input id="suburb" type="text" class="form-control" placeholder="Colonia">
                    </div>
                    <div class="form-group">
                        <label for="zip">Código Postal</label>
                        <input id="zip" type="text" class="form-control" placeholder="Código Postal">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="country">País</label>
                        <input id="country" type="text" class="form-control" placeholder="País">
                    </div>
                    <div class="form-group">
                        <label for="state">Estado</label>
                        <input id="state" type="text" class="form-control" placeholder="Estado">
                    </div>
                    <div class="form-group">
                        <label for="city">Ciudad</label>
                        <input id="city" type="text" class="form-control" placeholder="Ciudad">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">&nbsp;</label>
                    <div class="input-group col-md-8">
                        <button class="btn btn-success"><i class="material-icons md-18" style="font-size: 32px">update</i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <p class="font-weight-bold">Mis huertos</p>
        <table class="table table-bordered table-light">
            <thead style="color: white" class="bg-success">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fruto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha de cultivo</th>
                    <th scope="col">Tipo de huerto</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let k of orchards | keys; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ orchards[k].fruit }}</td>
                <td>{{ orchards[k].price }}</td>
                <td>{{ orchards[k].dateHarv }}</td>
                <td>{{ orchards[k].orchardType }}</td>
                <td>
                    <button [routerLink]="['/protected-add-orchard', k]" class="btn btn-sm btn-dark"><i class="material-icons md-18" style="font-size: 18px">edit</i></button>
                    <button (click)="deleteOrchard(k)" class="btn btn-sm btn-danger"><i class="material-icons md-18" style="font-size: 18px">delete_forever</i></button>
                </td>
            </tbody>
        </table>
        <div *ngIf="(orchards | keys).length == 0 && !loading" class="alert alert-info" role="alert">
            <strong>No tienes ningún huerto registrado...</strong>
        </div>
        <div *ngIf="loading" class="alert alert-warning" role="alert">
            <strong>Cargando tus huertos registrados, por favor espere...</strong>
        </div>
    </div>
    <pre></pre>
</div>