<div class="container animated fadeIn fast">
    <h4>Agrega <small>huerto</small></h4>
    <hr>
    <div class="row">
        <div class="col">
            <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">
                <div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Fruto</label>
                        <div class="col-8">
                            <input [(ngModel)]="orchard.fruit" id="fruit" class="form-control" type="text" placeholder="Fruto" name="fruit" minlength="4" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Precio por kg</label>
                        <div class="col-8">
                            <input [(ngModel)]="orchard.price" id="price" class="form-control" type="number" placeholder="Precio" name="price" minlength="1" required>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Fecha que fue cultivado</label>
                    <div class="col-md-8">
                        <input [(ngModel)]="orchard.dateHarv" id="date" class="form-control" type="date" placeholder="Correo electrónico" name="date" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Tipo de huerto</label>
                    <div class="col-md-8">
                        <div class="form-check">
                            <input [(ngModel)]="orchard.orchardType" class="form-check-input" type="radio" name="orchardType" id="familyGarden" value="Huerto Familiar" checked>
                            <label class="form-check-label" for="familyGarden">
                Huerto familiar
            </label>
                        </div>
                        <div class="form-check">
                            <input [(ngModel)]="orchard.orchardType" class="form-check-input" type="radio" name="orchardType" id="urbanOrchard" value="Huerto Urbano">
                            <label class="form-check-label" for="urbanOrchard">
                Huerto urbano
            </label>
                        </div>
                        <div class="form-check">
                            <input [(ngModel)]="orchard.orchardType" class="form-check-input" type="radio" name="orchardType" id="ecoOrchard" value="Huerto Ecológico">
                            <label class="form-check-label" for="ecoOrchard">
                Huerto ecológico
            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Latitud</label>
                    <div class="col-8">
                        <input [(ngModel)]="orchard.lat" id="lat" class="form-control" type="number" name="lat" placeholder="32.5140484">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Longitud</label>
                    <div class="col-8">
                        <input [(ngModel)]="orchard.lon" id="lon" class="form-control" type="number" name="lon" placeholder="-116.9454966">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Fotos</label>
                    <div [docs]="docs" appNgDropFiles (mouseOn)="testOnItem = $event" [ngClass]="{ 'file-over': isOnItem }" class="col-8 well drop-zone file-over">
                        <h4>Arrastre sus imágenes aquí</h4>
                        <img src="../../../assets/drop-images.png" alt="drop-images-here">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">&nbsp;</label>
                    <div class="input-group col-md-8">
                        <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                        Guardar <i class="material-icons md-18" style="font-size: 18px">save</i>
      </button>
                        <button (click)="addNew(forma)" style="margin-left: 2px" class="btn btn-success">Nuevo huerto<i class="material-icons md-18" style="font-size: 18px">add</i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <agm-map (mapClick)="setMarker($event)" [latitude]="orchard.lat" [longitude]="orchard.lon" [zoom]="16" style="width: 100%; height:410px">
                        <agm-marker [latitude]="orchard.lat" [longitude]="orchard.lon"></agm-marker>
                    </agm-map>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Nombre</th>
                                <th>Tamaño</th>
                                <th>Progreso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doc of docs">
                                <td [ngClass]="{ 'text-green': doc.progress >= 100 }">{{doc.fileName}}</td>
                                <td>{{doc.doc.size / 1024 / 1024 | number: '.2-2' }} MB</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{ 'width': doc.progress + '%'}"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="div-align">
                        <button (click)="clearFiles()" class="btn btn-sm btn-danger">Limpiar</button>
                        <button [disabled]="docs.length == 0" (click)="loadImages()" class="btn btn-sm btn-primary">Cargar imágenes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>