<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand brand-location" href="#">NaturalGrown.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']"><i class="material-icons">home</i>Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" *ngIf="_authf.user.uid" [routerLink]="['busqueda']"><i class="material-icons">location_searching</i>Búsqueda</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" *ngIf="_authf.user.uid" [routerLink]="['protected-add-orchard/nuevo']"><i class="material-icons">add_location</i>Agregar</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" *ngIf="_authf.user.uid" [routerLink]="['protected-home']"><i class="material-icons">verified_user</i>Mi perfil</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['about']"><i class="material-icons">info</i>Acerca de</a>
            </li>
        </ul>

        <span class="navbar-text">
            <button *ngIf="!_authf.user.uid" (click)="ingresar()" class="btn btn-sm btn-outline-success">INICIAR SESIÓN</button>
            <button *ngIf="_authf.user.uid" (click)="cerrar_sesion()" class="btn btn-sm btn-outline-danger">CERRAR SESIÓN</button>
        </span>
    </div>
</nav>