<footer class="content-info">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h3>Redes Sociales</h3>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/valoo.apps/">Facebook</a></li>
                    <li><a href="www.twitter.com">Twitter</a></li>
                    <li><a href="https://www.instagram.com/valooapps/">Instagram</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h3>Apoyanos</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Dona</a></li>
                    <li><a href="#">Nuestros patrocinadores</a></li>
                    <li><a href="#">Ayudantía</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h3>Suscríbete</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Correo electrónico</a></li>
                    <li><a href="#">SMS</a></li>
                    <li><a href="#">RSS</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h3>Ayuda</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Acerca de NaturalGrown.com</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>